.container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  background-color: #f9efdb;
  color: #638889;
  border: 2px solid #9dbc98;
  border-radius: 30px;
  margin: 30px 70px 70px 70px;
}

.custombutton {
  background-color: #F9EFDB; 
  color: #638889; 
  cursor: pointer;
  font-size: 20px; 
  border: 0px;
  border-bottom: 1px solid #638889;
  margin: 30px 0px 0px 80px;
}

.startMsg {
  font-size: larger;
  padding: 250px;
}

.contacts {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  font-size: larger;
}

.contacts h2 {
  margin-bottom: 10px;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts li {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 2px solid #ccc;
}

.chat {
  flex: 3;
  padding: 20px;
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.chat h2 {
  margin-bottom: 10px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messageReceived {
  align-self: flex-start;
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 15px 15px 15px 0px;
  border: 2px solid #9dbc98;
  max-width: 200px;
}

.messageSent {
  align-self: flex-end; 
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 15px 15px 0px 15px;
  border: 2px solid #9dbc98;
  max-width: 200px;
}

.messageInput {
  align-self: flex-end;
  display: flex;
  margin-top: auto;
  min-width: 800px;
}

.messageInput input {
  background-color: #f8f2e7;
  border: transparent;
  outline: 0;
  border-radius: 7px;
  border: 2px solid #9dbc98;
  font-size: large;
  min-width: 200px;
  color: #638889;
  padding: 4px;
  flex: 1;
}

.messageInput button {
  padding: 10px;
  margin-left: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
