.container {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  height: 80vh;
  background-color: #fff5eb;
  color: #947456;
  border: 2px solid #e3cab1;
  border-radius: 30px;
  margin: 30px 70px 70px 70px;
}

.custombutton {
  background-color: #fff5eb; 
  font-family: 'Courier New', Courier, monospace;
  color: #947456; 
  cursor: pointer;
  font-size: 20px; 
  border: 0px;
  border-bottom: 1px solid #e3cab1;
  margin: 30px 0px 0px 80px;
}

.startMsg {
  color: #b5997d;
  padding: 280px;
  font-weight: 600;
}

.contacts {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #e3cab1;
  font-size: larger;
}

.contacts h2 {
  margin-bottom: 25px;
}

.contacts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts li {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 2px solid #e3cab1;
}

.chat {
  flex: 3;
  padding: 20px;
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.chat h2 {
  margin-bottom: 10px;
}

.messages {
  max-height: 700px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messageReceived {
  align-self: flex-start;
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 15px 15px 15px 0px;
  border: 2px solid #e3cab1;
  max-width: 300px;
}

.messageSent {
  align-self: flex-end; 
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 15px 15px 0px 15px;
  border: 2px solid #b5997d;
  max-width: 200px;
}

.messageInput {
  align-self: flex-end;
  display: flex;
  margin-top: auto;
  min-width: 800px;
}

.messageInput input {
  background-color: #fff5eb;
  font-family: 'Courier New', Courier, monospace;
  border: transparent;
  outline: 0;
  border-radius: 7px;
  border: 2px solid #e3cab1;
  font-size: large;
  min-width: 200px;
  color: #947456;
  padding: 10px;
  flex: 1;
}

.messageInput button {
  padding: 10px;
  margin-left: 10px;
  background-color: #947456;
  color: #fff5eb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
