body {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
    background-color: #F9EFDB; 
  }
  
  #__next {
    height: 100%;
    width: 100%;
  }