.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F9EFDB; 
  color: #638889;
}

.title {
  text-align: center;
  font-size: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #638889; 
  padding: 20px;
  z-index: 10; 
  border-bottom: 1px solid #9DBC98;
}

.heading {
  text-align: center;
  font-size: 40px; 
  margin-bottom: 30px;
}

.custombutton {
  padding: 15px 30px; 
  background-color: #F9EFDB; 
  color: #638889; 
  border: 2px solid #9DBC98;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px; 
  margin-bottom: 30px;
}

.result {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.resultText {
  margin-bottom: 30px;
}

.tableContainer {
  margin-top: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memoryTable {
  width: 80%; /* Adjust as needed */
  margin-top: 10px; /* Adjust as needed */
  border-collapse: collapse;
}

.memoryTable th, .memoryTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: larger;
}

.memoryTitle {
  font-size: 2.2rem; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
}